body {
  /* background-image: url('https://images.pexels.com/photos/531756/pexels-photo-531756.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260'); */
  background-repeat: repeat;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  background-size: cover;
  text-align: center;
  font-size: 10px;
  width: 100%;
  margin: 0;
  /* padding: 20px; */
}

@font-face {
  font-family: 'myfont';
  src: url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
}

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

header h1 {
  font-family: 'myfont'; /* maybe it doesn't display because of ubuntu*/
  font-size: 5em;
  font-weight: 900;
  /* background-color: #fcba03; */
  color: #4287f5;
  /* box-shadow: 10px 10px 10px 10px #fcba03; */
}

section h2 {
  font-family: 'myfont'; /* maybe it doesn't display because of ubuntu*/
  font-size: 4em;
  font-weight: 700;
  margin-top: 20px;
}

#grid-floats,
#grid-flex {
  list-style-type: none;
}

#grid-floats .grid-item {
  float: left;
  width: 100px;
  height: 250px;
  border: 2px solid black;
  margin: 10px;
  padding: 10px 15px;
  background-color: #bf7c6b;
  transition: width 1s, background 0.5s;
  /* overflow: hidden; */
}

#grid-floats .grid-item:hover {
  background: #e69581;
  width: 110px;
}

#grid-floats .grid-item h3 {
  font-size: 1em;
  color: darkblue;
  height: 10%;
}

#grid-floats .grid-item img {
  border: 2px solid black;
  border-radius: 5%;
  width: 80%;
  height: 30%;
}

#grid-floats .grid-item p {
  font-family: 'Permanent Marker', cursive;
  text-align: justify;
  font-size: 0.9em;
  height: 50%;
  line-height: 0.7rem;
}

/* second section*/

section {
  clear: left;
}

#grid-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#grid-flex .grid-item {
  width: 100px;
  height: 250px;
  border: 2px solid black;
  margin: 10px;
  transition: transform 0.5s;
}

#grid-flex .grid-item:hover {
  flex: 1 1 80px;
  font-size: 1.1em;
  transform: rotate(3deg);
}

#grid-flex .grid-item h3 {
  align-self: flex-start;
}

#grid-flex .grid-item img {
  align-self: center;
}

#grid-flex .grid-item p {
  align-self: flex-end;
}

#grid-flex .grid-item:nth-child(3n + 0) {
  background-color: #bf7c6b;
  flex: 1 1 inherit;
}
#grid-flex .grid-item:nth-child(3n + 1) {
  background-color: #805347;
  flex: 1 3 inherit;
}
#grid-flex .grid-item:nth-child(3n + 2) {
  background-color: #402924;
  flex: 3 1 inherit;
}
